@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
/* @font-face {
    font-family: jura;
    src: url(../JuraDemiBold.ttf);
} */

body{
    background-color: #edf2f4;
    /* height: 100vh; */
}

.formu-cad{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../imgs/pexels-anastasia-shuraeva-9519543.jpg);
    /* width: 100%; */
    height: 1080px; 
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.formu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 90%;
    margin: 30px;
    border-radius: 30px;
    background-color: #ffffffc9;
}
.formu input{
    width: 250%;
    height: 30px;
    border-bottom: #000000 solid 0.5px;

}
p{
    position: relative;
    right: 5%;
    margin: 10px;
    width: 40%;
    

}
.name-formu {
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-formu h2{
    font-size: 40px;
    color: #000;
}
#botao{
    text-align: center;
    background-color: yellow;
    height: 40px;
    border: none;
    transition: 1s;
}
#botao:hover{
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}
button{
    border: none;
    width: 85%;
    margin-right: 25px;
    color: red;
    height: 40px;
    background-color: red;
    color: white;
    transition: 1s;
    padding: 1px 6px    ;
}
button:hover{
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
 
}
select{
    width: 250%;

}
#button-cancelar{
    background-color: transparent;
    padding: 0;
    margin-bottom: 5px;
}
#button-cancelar a{
    text-decoration: none;
    color: #000;
}
#button-cancelar a:hover{
    color: blue;
}
