
*{
    font-family: jura;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: jura;
    src: url(../JuraDemiBold.ttf);
}
body{
    position: relative;
    /* top: 150px; */
    height: 1080px;
    
}

.formu-cad{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../imgs/pexels-anastasia-shuraeva-9519543.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    
}
.formu-cad h2{
    margin-top: 120px;
}

.formu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 89%;
    margin: 30px;
    border-radius: 30px;
    background-color: #ffffff9c;
}

.formu input{
    width: 250%;
    border-bottom: #000000 solid 0.5px;
}

p{

    right: 5%;
    width: 40%;
    height: 40px;
}

.name-formu h2{
    font-size: 40px;
    color: #000;
    top: 50%;
    position: relative;
}
#select{
    height: 30px;
}
#botao{
    margin-top: 10px;
    text-align: center;
    background-color: yellow;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: 1s;
}

#botao:hover{
    border-radius: 20px;
}

select{
    width: 250%;

}
