@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #268516;

}
.menu{
    width: 100%;
    height: 11%;
}
.form{
    width: 100%;
    height: 89%;
    display: flex;
    background-image: url(../imgs/pexels-anastasia-shuraeva-9519543.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.txt{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    position: relative;
    text-align: left;
    position: relative;
    left: 5%;
    bottom: 10%;
    color:aliceblue;
  
}
.txt h3{
    font-size: 5vh;
    width: 60%;
}
.txt h1{
    font-size: 20vh;
    color: #ffd704;
    width: 60%;
}

.dados{
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    /* background-color: #ffd704; */
}
.formula{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 20px;
    width: 80%;
    height: 90%;
    margin-top: 40px;
}
.name-formu{
    text-align: center;
    width: 100%;
    /* height: 1005; */
    margin-top: 35px;
    /* background-color: #2785162f; */
    
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #268516; */
}

form p{
    display: flex;
    width: 80%;
    flex-direction: column;
    font-size: 20px;
}
.formula input{
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid black;

}
#botao{
    position: relative;
    top: 0;
    left: 25%;
    height: 50px;
    width: 50%;
    border: none;
    background-color: #ffd704;
    border-radius: 10px;
    transition: 1s;
}
#botao:hover{
    border-radius: 20px;

}

