*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Poppins', sans-serif;
}
#carouselExampleInterval{
    margin-top: 40px;

}
.carousel-item{
    height: 500px;
}
.redes{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: #FFD704;
    display: flex;
}

.quadras{
    width: 100%;
    height: 261px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.quadras img{
    width: 25%;
    height: 80%;
    margin: 2%;
}
