*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    /* background-color: black; */
}
.img-gif{
    /* background-color: blue;  */
    height: 600px;
    width: 100%;
    margin-top: 40px;
}
.frase-1{
    background-color: rgba(0, 0, 255, 0.233);
    height: 200px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frase-1 h1{
    font-size: 50px;
    color: rgb(2, 95, 2);
}
.topicos-index{
     /* background-color: blue;  */
    height: 400px;
    width: 100%;
    margin-top: 74px;
    display: flex;
    justify-content: space-around;
}
.topicos-index #topicos{
    height: 100%;
    width: 25%;
}
.topicos-index .topico-1{
   padding-left: 3%;
   /* background-color: rgb(55, 163, 55); */
}
.topicos-index .topico-2{
      /* background-color: rgb(3, 192, 192);    */
} 
.topico-2 .icon-campo{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-campo img{
    height: 100%; 
}

.topico-2 h2{
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
}
.topico-2 p{
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}
.topicos-index .topico-3{
     /* background-color: rgb(174, 184, 39);  */
}
.topico-3 .icon-lupa{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-lupa img{
    height: 100%; 
}
.topico-3 h2{
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
}
.topico-3 p{
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}
footer{
   height: 230px;
   width: 100%;
   background-color: rgba(85, 17, 17, 0.212);
   margin-top: 70px;
   
}
footer .pag-footer{
    text-align: center;
    padding-top: 30px;
    /* background-color: rgb(36, 146, 26); */
    
}
footer .footer-topicos{
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.719);  */
    height: 130px;
    display: block;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}
footer .img-footer{
    width: 230px;
    height: 100px;
    /* background-color: aqua; */
    position: absolute;
    margin-left: 100px;
    margin-top: 70px;

}


