*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0f0 ;
}
.box div p{
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.sc{
    font-size: 23px;
    display: flex;
    width: 600px;
    height: 1000px; 
    margin: 10px;
    background-color: #f0f0f0;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 2px 2px 5px 2px #268516;
    border-radius: 15px;
    overflow-y: hidden;
}
.sc p{
    padding: 10px;
    color: #268516;
}
.sc p img{
    width: 50%;
    border: 3px solid #268516;
    transition: 1s;
}
.sc p img:hover{
    transform: scale(2);
    cursor: zoom-in;
}
.sc a{
    color: #268516;
    text-decoration: none;
}
.sc a:hover{
    text-decoration: underline;
}
.box-end{
    width: 100%;
    
}

.box-end #pag{
    text-align: left;
    padding: 0px;
    padding-left: 20px;

}


.seta-fixed{
    height: 100px;
    width: 100px;
    /* background-color: #268516;   */
    /* margin-left: 85%; */
    /* margin-top: 45%; */
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    animation: seta 0.3s infinite alternate;
    position: fixed;
    right: 2%;
    bottom: 2%;
    display: none;
    
}

.seta-fixed a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.seta-fixed img{
    height: 30px;
    width: 30px;
}
@keyframes seta{
    from {
        transform: translatey(10px);
      }
      to {
        transform: translatey(0);
      }
   
}
