*{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;}
@font-face {
    font-family: jura;
    src: url(../JuraDemiBold.ttf);
}
.seta-cima{
    height: 100px;
    width: 100px;
    /* background-color: #268516;  */
    /* margin-left: 85%; */
    /* margin-top: 45%; */
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    animation: seta 0.3s infinite alternate;
    position: fixed;
    right: -1%;
    bottom: 2%;
    display: none;
}
.seta-cima a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.seta-cima img{
    height: 35%;
}
@keyframes seta{
    from {
        transform: translatey(10px);
      }
      to {
        transform: translatey(0);
      }
   
}
body{
    background-color: #f0f0f0;
    /* background-image: linear-gradient(100deg, #ffd504c4, #ffd504a8);  */
}
.box div p{
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px;
}
.box button{
    border: none;
    color: #ffbc04e7;
    background-color: transparent;
    cursor: pointer;
}
.box button:hover{
    text-decoration: underline;
}
.sc{
    
    font-size: 23px;
    display: flex;
    width: 600px;
    height: 770px; 
    margin: 10px;
    background-color: #198b35;
    justify-content: space-between;
    flex-direction: column;
    border: solid 6px #ffd704;
    border-radius: 15px;
    overflow-y: hidden;
    /* box-shadow: 2px 2px 5px 2px #268516; */
    background-image: url(../imgs/buscampopattern10.png);
    background-repeat: no-repeat;
    background-size: cover;
    
} 
.sc p{
    font-size: 30px;
    font-weight: bold;
    /* padding: 10px; */
    color: #f0f0f0;
    padding: 0;
    margin: 0;
}
.sc p img{
    width: 80%;
    height: 300px;
    transition: 1s;
    border-radius: 15px;
    border: 6px solid #ffbc04e7;
    overflow-y: hidden;
}
.sc p img:hover{
    transform: scale(1.2);
    cursor: zoom-in;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}
.sc a{
    color: #ffbc04e7;
    text-decoration: none;
}
.sc a:hover{
    text-decoration: underline;
}
.box-end{
    width: 100%;
    height: 300px;
    /* background-color: #f0f0f021;   */
    
}

.box-end #pag{
    text-align: left;
    padding: 0px;
    padding-left: 20px;

}


.seta-fixed{
    height: 100px;
    width: 100px;
    /* background-color: #268516;   */
    /* margin-left: 85%; */
    /* margin-top: 45%; */
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    animation: seta 0.3s infinite alternate;
    position: fixed;
    right: 2%;
    bottom: 2%;
    display: none;
    
}

.seta-fixed a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.seta-fixed img{
    height: 30px;
    width: 30px;
}
@keyframes seta{
    from {
        transform: translatey(10px);
      }
      to {
        transform: translatey(0);
      }
   
}
#container{
    background-color: transparent;
    margin-top: 150px;
}
#container .col-12{
    /* border: solid 5px #198b35; */
    text-align: center;
}
