/* *{
    font-family: 'jura'  !important;
}
@font-face {
    font-family: jura;
    src: url(../JuraDemiBold.ttf);
} */
#container-0{
    margin: 0;
    padding: 0;
    border: 0;
}  
.nav-fixed{
    z-index: 1000;
    width: 100%;
    position: fixed;  
    top: 0%;
    /* margin-top: -2.5em;  */
 }
.container-fluid{
    background-color: #268516;   
     height: auto;  
}
/* #navbarNavAltMarkup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}  */
.navbar-nav a{
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: larger;
}
.navbar-nav a:hover{
    color: #268516;

}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-link{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-span a:hover{
    color: #268516;
} 
.nome-cliente{
    color: #ffd704;
    /* animation: zoomIn 2s; */
    /* margin-left: 50px; */
    overflow-x: hidden;
    overflow-y: hidden;    
}
