*{
    font-family: 'Teko', sans-serif;
    
}
@font-face {
    font-family: jura;
    src: url(../JuraDemiBold.ttf);
}
.nome-cliente{
    margin-top: 120px;
    /* background-color: #ffd704; */
    color: #268516;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}
.nome-cliente h1{
   margin: 0;
}
.box{
    margin-top: 80px;
    height: 500px;
    text-align: center;
    justify-content: space-around;
    display: flex;
}
.box .foto-perfil{
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;

}
.foto-perfil img{
    height: 400px;
    width: 500px;
    border: #268516 solid 5px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.box .sc{
    background-color: #268516;
    border: #ffd704 solid 5px;
    color: #ffd704;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    transition: 1s;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    padding-top: 130px;
    background-image: url(../imgs/buscampopattern10.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.box .sc:hover{
    transition: 1s;
    
}
.box .sc p{
    padding: 10px;
    font-size: 25px;

}
.sc a{
    height: 300px;
    text-decoration: none;
    color: #edf2f4;
    
}
.sc a:hover{
   color: #ffd704;
    
}
