*{
    margin: 0;
    padding: 0;
    font-family: 'jura'  !important;
}


@font-face {
    font-family: jura;
    src: url(../JuraDemiBold.ttf);
}
body{
    background-color: #f0f0f0;
}
input[type="text"]{
    height: 50px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    color: #268516;
} 
input[type="text"]:focus{
   transition: 2s;
   color: #268516;
   font-size: 20px;
} 
input[type="text"]::placeholder{
   font-size: 20px;
   color: #268516;
   text-align: center;
} 
.pesquisa{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    
}
.sc{
    font-size: 23px;
    margin-top: 120px;
    margin: 10px;
    display: flex;
    width: 600px;  
    height: 750px;  
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 2px 2px 5px 2px #268516;
    background-image: url(../imgs/listesporte.png);
    background-repeat: no-repeat;
    background-size: 700px;
    overflow-y: hidden;
    border-radius: 15px;
    background-color: #198b35;
    border: solid 4px #ffd704;
}
.sc p{
    font-size: 30px;
    font-weight: bold;
    /* padding: 10px; */
    color: #f0f0f0;
    padding: 0;
    margin: 0;
    text-align: center;
}
.sc p img{
    width: 80%;
    border: 5px solid #268516;
    transition: 1s;
    border-radius: 15px;
    border: 2px solid #ffbc04e7;
}

.sc p img:hover{
    transform: scale(1.2);
    cursor: zoom-in;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    border: 5px solid #ffbc04e7;
}
.sc a{
    color: #ffbc04e7;
    text-decoration: none;
}
.sc a:hover{
    text-decoration: underline;
}
.box-end{
    width: 100%;
    height: 300px;
    
}

.box-end #pag{
    text-align: left;
    padding: 0px;
    padding-left: 20px;

}
