*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'jura'  !important;
}
@font-face {
    font-family: jura;
    src: url(../JuraDemiBold.ttf);
}
body{
    background-color: #edf2f4;
}
.conteudo{
    /* background-color: black; */
    width: 100%;
    height: 800px;
    margin-top: 140px;
    display: flex;
}
.conteudo .img-conteudo{
    /* background-color: #edf2f4; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img-conteudo img{
    width: 80%;
}
.conteudo .texto-conteudo{
    width: 60%;
    height: 100%;
    /* background-color: aqua;  */
}
.texto-conteudo .texto-1{
    /* background-color: blue; */
    height: 30%;
    width: 100%;
}
.texto-conteudo .texto-2{
    /* background-color: blue; */
    height: 30%;
    width: 100%;
    margin-top: 10px;
}
.texto-conteudo .texto-3{
    /* background-color: blue; */
    height: 20%;
    width: 100%;
    margin-top: 100px;
    display: flex;
    
}
.texto-3 .insta{
    /* background-color: black; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.insta img{
    width: 50px;
    padding-left: 10px; 
}

