*{
    border: 0;
    padding: 0;
    margin: 0;
}
.text-quem-somos{
     height: 100px;
     width: 100%;
     margin-top: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.texto-apresentacao{
    background-color: black;
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
}
.apresentacao{
    background-color: rgba(0, 0, 0, 0.295);
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.apresentacao img{
    width: 300px;
}