@media (max-width: 1500px){
    
.conteudo{
    /* background-color: rgb(226, 2, 2);  */
    height: 700px;
}
.conteudo .botao1{
    /* background-color: aqua; */
    margin-top: 200px;
}

}
@media (min-width: 1101px) and (max-width: 1300px){
    .conteudo{
        height: 400px;
    }
    .conteudo .botao1{
        margin-top: 150px;
    }
    .botao1 h2{
        width: 250px;
    }
    .botao2 h2{
        width: 250px;
    }
}