@media (max-width: 1920px){
    .login-span{
        background-color: #ffd504;
        height: 100%;
        width: 200px;
    }
    .quem-somos-span:hover{
        background-color: #ffd504;
        height: 100%;

    }
    .login-span a{
        color: #268516;
    }
    .login-span a:hover{
        color: #000;
    }
    .nav-link:hover{
        background-color: #ffd504;
    }
    .navbar-nav{
        height: 110px;
    }
    .nav-fixed{
        z-index: 1000;
        width: 100%;
        position: fixed;  
        top: 3.7%;
        margin-top: -2.5em; 
     }
}

    @media (max-width: 1665px){
        .navbar-nav{
            width: 100%;
        }
        a.nav-link{
            font-size: 15px;
    }
    .nav-fixed{
        z-index: 1000;
        width: 100%;
        position: fixed;  
        top: 3.7%;
        margin-top: -2.5em; 
     }
}
    
    @media (max-width: 1300px){
       .navbar-nav a.nav-link{
            font-size: 18px;
        }
        .container-fluid{
            width: 100%;
        }
        .navbar-brand img{
            width: 170px;
        }
        .navbar-nav a{
            font-size: 25px;

        }
        .nav-fixed{
            z-index: 1000;
            width: 100%;
            position: fixed;  
            top: 3.7%;
            margin-top: -2.5em; 
         }
    }
    @media (max-width: 1155px){
        .navbar-nav a.nav-link{
            font-size: 16px;
        }

    }
    @media (max-width: 1020px){
        .navbar-nav a.nav-link{
            font-size: 14px;
        }
    }
    @media (max-width: 1005px){
        .navbar-nav a.nav-link{
            font-size: 14px;
        }
    }
    @media (max-width: 1000px){
        .navbar-nav a{
            font-size: 17px;
        }
    }
    @media (max-width: 995px){
        .navbar-nav a.nav-link{
            font-size: 14px;
        }
    }
    @media (max-width: 990px){
        .navbar-nav{
            height: 100%;
        }
        .navbar-nav a{
            font-size: 30px;
            padding: 30px;
        }
        a:hover{
            background-color: transparent;
        }
        .quem-somos-span:hover{
            background-color: transparent;
        }
        .login-span{
            background-color: transparent;
        }
        a.nav-link{
            font-size: 20px;
        }
    }

   