@media  (max-width: 500px){
    .carousel{
        height: 200px;
    }
    .carousel img{
        height: 200px;
    }
    .content-prin{
        height: 2800px;
    }
    .img-content{
        height: 80px;
        margin-top: 50px;
    }
    .img-content a{
        height: 100%;
        width: 100%;
        font-size: 20px;
    }
    .text-locais h1{
        font-size: 20px !important;
    }
    .locais{
        height: 1100px;
        display: block;
    }
    .locais h3{
        font-size: 20px;
    }
    .locais .campo{
        height: 330px;
        width: 100%;
        margin-bottom: 30px;
    }
    .locais .quadra{
        height: 330px;
        width: 100%;
        margin-bottom: 30px;
    }
    .locais .areia{
        height: 330px;
        width: 100%;
    }

    /* CARROSEL CONTEUDO PHP */
    .sugestao-content{
        height: 680px;
    }
    .sugestao-content h1{
        font-size: 20px;
    }
    .sugestao-content h3{
        font-size: 20px;
        padding: 10px;
        margin: 0;
    }
    .sugestao-content a{
        font-size: 20px;
    }
    .link-contato-BD{
        margin-top: 10px !important;      

    }
    #carouselExampleInterval{
        height: 85%;
    }
    .carousel-inner{
        height: 100%;
    }
    .carousel-item{
        height: 100%;

    }
    .BD-element{
       display: block !important;
       height: 100% !important;
    }
    .BD-box-left{
        width: 100%;
        height: 50%;
    }
    
    .BD-box-right{
        width: 100%;
        height: 50%;
    }
    .BD-box-right-img1{
        height: 300px  !important;
    }
    .BD-box-right-img1 img{
        height: 300px  !important;
    }
    /* CARROSEL CONTEUDO PHP FIM */

    .trabalhe-conosco{
        height: 250px;
    }

    /* SAO PEDRO */
    .saopedro-content-end{
        margin-top: 50px;
        height: 550px;
    }
    .saopedro{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px !important;
    }
    .saopedro-texto1 h1{
        font-size: 25px;
    } 
    .saopedro-texto2 h2{
        font-size: 20px;
    }
    .saopedro-texto2 h2 span{
        font-size: 25px;
    } 
    .redes-sociais a{
        font-size: 25px;
    }
    /* SAO PEDRO FIM */

    /* FOOTER */
    footer{
        height: 700px;
    }
    .conteudo-footer{
        height: 100%;
        width: 100%;
    }
    .boxPai-footer{
        height: 30% !important;
    }
    .conteudo-footer #box-footer{
        height: 70%;
    }
    .conteudo-footer-box1 img{
        height: 80px;
        width: 100%;
    }
    .conteudo-footer-box2 p{
        font-size: 15px !important;
    }
    .conteudo-footer-box3 a img{
        height: 30px;
    }
    .footer-servicos{
       display: block;
    }
    .servicos-contato{
        width: 100% !important;
        height: 50% !important;
        text-align: center;
    }
    .servicos-links{
        width: 100% !important;
        height: 50% !important;
        text-align: center;
        margin-top: 100px;
    }
    /* FIM FOOTER */
}
@media  (min-width: 501px) and (max-width: 650px){
    .carousel{
        height: 300px;
    }
    .carousel img{
        height: 300px;
    }
    .content-prin{
        height: 2750px;     
    }
    .img-content{
        height: 80px;
        margin-top: 50px;
    }
    .img-content a{
        height: 100%;
        width: 100%;
        font-size: 30px;
    }
    .text-locais h1{
        font-size: 28px;
    }
    .locais{
        height: 1300px; 
        display: block;
    }
    .locais h3{
        font-size: 25px;
    }
    .locais .campo{
        height: 400px;
        width: 100%;
        margin-bottom: 30px;
    }
    .locais .quadra{
        height: 400px;
        width: 100%;
        margin-bottom: 30px;
    }
    .locais .areia{
        height: 400px;
        width: 100%;
    }

    /* CARROSEL CONTEUDO PHP */
    .sugestao-content{
        height: 670px; 
    }

    
    .sugestao-content h3{
        font-size: 20px;
        padding: 10px;
        margin: 0;
    }
    .sugestao-content a{
        font-size: 20px;
    }
    .link-contato-BD{
        margin-top: 10px !important;      

    }
    #carouselExampleInterval{
        height: 85%; 
    }
    .carousel-inner{
        height: 100%; 
    }
    .carousel-item{
        height: 100%; 

    }
    .BD-element{
       display: block !important;
    }
    .link-contato-BD{
        margin-top: 0 !important;
        height: 50px !important;
    }
    .link-contato-BD a{
        font-size: 20px;
    }
    .BD-box-left{
        width: 100%;
        height: 50%;
    }
    
    .BD-box-right{
        width: 100%;
        height: 50%;
    }
    .BD-box-right-img1{
        height: 300px  !important;
    }
    .BD-box-right-img1 img{
        height: 300px  !important;
    }
    /* CARROSEL CONTEUDO PHP FIM */
    .trabalhe-conosco{
        height: 300px;
        margin-top: 60px
    }

    /* SAO PEDRO */
    .saopedro-content-end{
        height: 600px;

    }
    .saopedro{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px !important;
    }
    .saopedro-texto2 h2{
        font-size: 20px;
    }
    .saopedro-texto2 h2 span{
        font-size: 30px;
    }
    /* SAO PEDRO FIM */
    footer{
        height: 700px;
    }
    .conteudo-footer{
        height: 100%;
        width: 100%;
    }
    .boxPai-footer{
        height: 30% !important;
    }
    .conteudo-footer #box-footer{
        height: 70%;
    }
    .conteudo-footer-box1 img{
        height: 80px;
        width: 100%;
    }
    .conteudo-footer-box2 p{
        font-size: 16px !important;
    }
    .conteudo-footer-box3 a img{
        height: 30px;
    }
    .footer-servicos{
       display: block;
    }
    .servicos-contato{
        width: 100% !important;
        height: 50% !important;
        text-align: center;
    }
    .servicos-links{
        width: 100% !important;
        height: 50% !important;
        text-align: center;
        margin-top: 100px;
    }
    
}
@media  (min-width: 651px) and (max-width: 900px){
    .carousel{
        height: 400px;
    }
    .carousel img{
        height: 400px;
    }
    .content-prin{
        height: 3700px;    
    }
    .img-content{
        height: 80px;
        margin-top: 50px;
    }
    .img-content a{
        height: 100%;
        width: 100%;
        font-size: 30px;
    }
    .text-locais h1{
        font-size: 28px;
    }
    .locais{
        height: 2000px; 
        display: block;
    }
    .locais h3{
        font-size: 25px;
    }
    .locais .campo{
        height: 600px;
        width: 100%;
        margin-bottom: 30px;
    }
    .locais .quadra{
        height: 600px;
        width: 100%;
        margin-bottom: 30px;
    }
    .locais .areia{
        height: 600px;
        width: 100%;
    }

    /* CARROSEL CONTEUDO PHP */
    .sugestao-content{
        height: 900px; 
    }
    .sugestao-content h3{
        font-size: 20px;
        padding: 10px;
        margin: 0;
    }
    .sugestao-content a{
        font-size: 20px;
    }
    .link-contato-BD{
        margin-top: 10px;      

    }
    #carouselExampleInterval{
        height: 89%; 
    }
    .carousel-inner{
        height: 100%; 
    }
    .carousel-item{
        height: 100% !important;

    }
   
    .BD-element{
       display: block !important;
       height: 100% !important;
    }
    .link-contato-BD{
        margin-top: 0 !important;
        height: 50px !important;
    }
    .link-contato-BD a{
        font-size: 20px;
    }
    .BD-box-left{
        width: 100%;
        height: 43%;
    }
    
    .BD-box-right{
        width: 100%;
        height: 50%;
    }
    .BD-box-right-img1{
        height: 458px  !important;
    }
    .BD-box-right-img1 img{
        height: 458px  !important;
    }
    /* CARROSEL CONTEUDO PHP FIM */
    .trabalhe-conosco{
        height: 300px;
        margin-top: 60px
    }

    /* SAO PEDRO */
    .saopedro-content-end{
        height: 600px;

    }
    .saopedro{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px !important;
    }
    .saopedro-texto2 h2{
        font-size: 25px;
    }
    .saopedro-texto2 h2 span{
        font-size: 30px;
    }
    /* SAO PEDRO FIM */
    footer{
        height: 700px;
    }
    .conteudo-footer{
        height: 100%;
        width: 100%;
    }
    .boxPai-footer{
        height: 30% !important;
    }
    .conteudo-footer #box-footer{
        height: 70%;
    }
    .conteudo-footer-box1 img{
        height: 90px;
        width: 90%;
    }
    .conteudo-footer-box2 p{
        font-size: 20px;
    }
    .conteudo-footer-box3 a img{
        height: 30px;
    }
    .footer-servicos{
       display: block;
    }
    .servicos-contato{
        width: 100% !important;
        height: 50% !important;
        text-align: center;
    }
    .servicos-links{
        width: 100% !important;
        height: 50% !important;
        text-align: center;
        margin-top: 100px;
    }
}
@media  (min-width: 901px) and (max-width: 1100px){
    .carousel{
        height: 400px;
    }
    .carousel img{
        height: 400px;
    }
    .content-prin{
        height: 4300px; 
    }
    .img-content{
        height: 80px;
        margin-top: 50px;
    }
    .img-content a{
        height: 100%;
        width: 100%;
        font-size: 30px;
    }
    .text-locais h1{
        font-size: 28px;
    }
    .locais{
        height: 2400px; 
        display: block;
    }
    .locais h3{
        font-size: 25px;
    }
    .locais .campo{
        height: 750px;
        width: 100%;
        margin-bottom: 30px;
    }
    .locais .quadra{
        height: 750px;
        width: 100%;
        margin-bottom: 30px;
    }
    .locais .areia{
        height: 750px;
        width: 100%;
    }

    /* CARROSEL CONTEUDO PHP */
    .sugestao-content{
        height: 1000px; 
    }
    .sugestao-content h3{
        font-size: 20px;
        padding: 20px;
        margin: 0;
    }
    .sugestao-content a{
        font-size: 20px;
    }
    .link-contato-BD{
        margin-top: 10px;      

    }
    #carouselExampleInterval{
        height: 89%; 
    }
    .carousel-inner{
        height: 100%; 
    }
    .carousel-item{
        height: 100% !important;

    }
   
    .BD-element{
       display: block !important;
       height: 100% !important;
    }
    .link-contato-BD{
        margin-top: 0 !important;
        height: 50px !important;
    }
    .link-contato-BD a{
        font-size: 20px;
    }
    .BD-box-left{
        width: 100%;
        height: 43%;
    }
    
    .BD-box-right{
        width: 100%;
        height: 50%;
    }
    .BD-box-right-img1{
        height: 708px  !important;
    }
    .BD-box-right-img1 img{
        height: 708px  !important;
    }
    /* CARROSEL CONTEUDO PHP FIM */
    .trabalhe-conosco{
        height: 400px;
        margin-top: 60px
    }

    /* SAO PEDRO */
    .saopedro-content-end{
        height: 800px;

    }
    .saopedro{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px !important;
    }
    .saopedro-texto2 h2{
        font-size: 25px;
    }
    .saopedro-texto2 h2 span{
        font-size: 30px;
    }
    /* SAO PEDRO FIM */
    footer{
        height: 700px;
    }
    .conteudo-footer{
        height: 100%;
        width: 100%;
    }
    .boxPai-footer{
        height: 30% !important;
    }
    .conteudo-footer #box-footer{
        height: 70%;
    }
    .conteudo-footer-box1 img{
        height: 80%;
        width: 100%;
    }
    .conteudo-footer-box2 p{
        font-size: 25px;
    }
    .conteudo-footer-box3 a img{
        height: 30px;
    }
    .footer-servicos{
       display: block;
    }
    .servicos-contato{
        width: 100% !important;
        height: 50% !important;
        text-align: center;
    }
    .servicos-links{
        width: 100% !important;
        height: 50% !important;
        text-align: center;
        margin-top: 100px;
    }
}