@media (max-width: 1500px){
.lista .box-lista{
    /* background-color: yellowgreen;  */
    margin-left: 60px;
    width: 500px;
}
.conteudo{
    height: 500px;
    width: 800px;
}
.box-lista h1{
    padding: 5px;
    font-size: 30px;
}
.box-lista h3{
    font-size: 25px;
}
}