@media (max-width: 1500px){
    .conteudo{
        /* background-color: #000; */
        height: 800px;
        background-image: none;
        margin-top: 70px;
    }

    .img-conteudo img{
        width: 95%;
        height: 600px;
    }
    .conteudo .texto-conteudo{
        height: 600px; 
        /* padding: 50px 50px; */
        margin-top: 100px;
        overflow-y: hidden;
    }
    .texto-1{
        /* background-color: #000; */
        padding: 0px 20px;
    }
    .texto-1 h2{
        font-size: 30px;
    }
    .texto-2{
        /* background-color: aqua; */
        margin: 0;
    }
    .texto-2 h2{
        font-size: 30px;
        padding: 0px 20px;
    }
    .insta{
        /* background-color: black; */
        margin-left: 400px;
    }
    .insta img{
        padding-bottom: 7px;
    }
    a{
        color: #080908;
    }

    a:hover{
        color: #268516;
    }
}
@media (min-width: 1101px) and (max-width: 1300px){
    .conteudo{
        /* background-color: #55814d; */
        height: 600px;
        margin-top: 120px;
    }
    .img-conteudo{
        height: 600px !important; 
    }
    .img-conteudo img{
        height: 500px !important;
    }
    .texto-conteudo{
        height: 500px !important;
        margin: 50px !important;
    }
}